/* 重置样式 */
html {overflow-y:scroll;-webkit-overflow-scrolling: touch;}
body {margin:0; padding:0; font:12px/1.5 \5b8b\4f53,Arial,sans-serif;/*background:#ffffff;*/}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.hx a,.hx em,.fB{font-weight:bold;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
a {color:#252525; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#ba2636;text-decoration:none;}
a:active {color:#ba2636;text-decoration: none;}
input{
    display: block;
    outline: none;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0;
    width: 100%;
    -webkit-appearance: none; 
}
::-webkit-input-placeholder { /* WebKit browsers */
    /*color:    #fff;*/
   line-height: 20px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    /*color:    #fff;*/
   line-height: 20px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    /*color:    #fff;*/
   line-height: 20px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    /*color:    #fff;*/
   line-height: 20px;
}
a {
	display: block;
}
@font-face {
	font-family: 'iconfont';
	src:url('./fonts/icomoon.eot'),
	url('./fonts/icomoon.woff') format('woff'),
	url('./fonts/icomoon.ttf') format('truetype'),
	url('./fonts/icomoon.svg') format('svg');
}
body{
	background-color: #edeae8;
}
/* 头部固定导航 */
.nav-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	padding: 0 6%;
	color: #50321f;
	background-color: #fff;
	z-index: 1;
}
.nav-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.icon{
	font-family: 'iconfont';
	display: block;
}
.nav-left {
	display: flex;
	align-items: center;
	font-size: 14px;
	width: 48px;
	font-weight: 600;
}
.nav-pull-back{
	width: 18px;
	/*height: 14px;*/
	font-size: 24px;
	line-height: 14px;
}
.nav-pull-back::after{
	content: '\e90b';
}

.nav-center{
	font-size: 20px;
	font-weight: 800;
}
.nav-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
}
.nav-set::after{
	content: '\e90a';
	font-size: 23px;
}
.input-container{
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 1px 7px #969696;
}
.form-submit-btn{
	margin-bottom: 80px;
}
.submit-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 60px;
	border-radius: 4px;
	background-color: #50321F;
}
.submit-btn a{
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.order-list-container{
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 5px #a2a0a0;
	
}
.list-container{
	padding: 0 20px;
	
}
.list-item{
	position: relative;
	display: flex;
	color: #50321F;
	padding: 20px 0 14px 5px;
	border-bottom: 1px solid #E5E5E5;
	
}
.nav-fixed-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55px;
	padding: 0 34px;
}
